@charset "UTF-8";
.flex-conteiner {
    display: flex;
    width: 80%;
    background-color: #B67717;
}#imagen_logo {
    width: 45%;
    height: auto;
    margin: 40px 0;
    padding: 60px;
    float: left;
}
